<div>
    <form class="create-contract-form" ng-submit="submitContract(contractName, partyA, partyB)">
        <div class="form-group">
            <label for="nameOfCOntract">Name of the Contract</label>
            <input type="text" class="form-control" placeholder="Please enter a name for the contract" ng-model="contractName" required>
        </div>
        <div class="form-group">
            <label for="partyA">Party A</label>
            <input type="text" class="form-control" placeholder="Please enter the name of party A" ng-model="partyA" required>
        </div>
        <div class="form-group">
            <label for="partyB">Party B</label>
            <input type="text" class="form-control" placeholder="Please enter the name of party B" ng-model="partyB" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>